<h1>Task2</h1>
<span>
      <a [routerLink]="['/task1/users']" >
       Все Пользователи
      </a>
      <div (click)="showUserInfo()">
       Добавить пользователя
      </div>
    </span>
<div class="filter">
  <filter></filter>
</div>
<div class="departaments">
  <table>
    <ng-container *ngFor="let division of divisions">
      <tr>
        <h4>{{division.text}}</h4>
      </tr>
      <ng-container *ngIf="usersByDivisions">
        <ng-container *ngIf="usersByDivisions[division.value]">
            <ng-container *ngFor="let userByDivision of usersByDivisions[division.value]">
              <tr>
                <td>
                  {{userByDivision.secondName}}
                </td>
                <td>
                  {{positions[userByDivision.position]}}
                </td>
                <td>
                  {{userByDivision.photo}}
                </td>
                <td>
                  <div (click)="showUserInfo(userByDivision)">посмотреть</div>
                </td>
                <td>
                  <div (click)="deleteUser(userByDivision.id)">удалить</div>
                </td>
               </tr>
            </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
<router-outlet></router-outlet>
