<h1>Административная панель</h1>
<div class="filter">
  <filter></filter>
</div>
<div class="departaments">
  <h3>Пользователи <span class="addUser" (click)="showUserInfo()"><mat-icon>add</mat-icon></span></h3>
  <table>
    <ng-container *ngFor="let division of divisions">
      <tr>
        <h4>{{division.text}}</h4><span class="addUser" (click)="addUserToDivision(division.value)"><mat-icon>add</mat-icon></span>
      </tr>
      <ng-container *ngIf="usersByDivisions">
        <ng-container *ngIf="usersByDivisions[division.value]">
            <ng-container *ngFor="let userByDivision of usersByDivisions[division.value]">
              <tr>
                <td>
                  {{userByDivision.secondName}} {{userByDivision.name | firstLetter}} {{userByDivision.thirdName | firstLetter}}
                </td>
                <td>
                  <div class="position">{{positions[userByDivision.position]}}</div>
                </td>
                <td>
                  <img class="image-user" src="{{userByDivision.photo | imageFromFile | async}}" />
                </td>
                <td>
                  <div class="cursor_pointer" (click)="showUserInfo(userByDivision)"><mat-icon>mode edit</mat-icon></div>
                </td>
                <td>
                  <div class="cursor_pointer" (click)="deleteUser(userByDivision.id)"><mat-icon>delete</mat-icon></div>
                </td>
               </tr>
            </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
<router-outlet></router-outlet>
