<mat-card-header>
  <mat-card-title><h1>Добавление пользователя</h1></mat-card-title>
</mat-card-header>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
<div>
  <mat-form-field >
    <input matInput
           [(ngModel)]="model.name"
           name="secondName"
           #name="ngModel"
           placeholder="Фамилия"
           required
    >
  </mat-form-field>
</div>
<div>
  <mat-form-field >
    <input matInput
           [(ngModel)]="model.secondName"
           name="name"
           #name="ngModel"
           placeholder="Имя"
           required
    >
  </mat-form-field>
</div>
<div>
  <mat-form-field >
    <input matInput
           [(ngModel)]="model.thirdName"
           name="thirdName"
           #name="ngModel"
           placeholder="Отчество"
           required
    >
  </mat-form-field>
</div>
<div>
  <h4>Пол:</h4>
  <mat-radio-group
    name="gender"
    #name="ngModel"
    [(ngModel)]="model.gender"
    placeholder="Пол"
  >
    <mat-radio-button type="radio" value="male" >Mужской</mat-radio-button>
    <mat-radio-button type="radio" value="female" >Женский</mat-radio-button>
  </mat-radio-group>
</div>
  <div>
      <button type="button" mat-raised-button (click)="imgFileInput.click()">Фото</button>
      <mat-form-field >
        <input matInput [value]="(model.photo) ? model.photo.name : model.photo"   />
      </mat-form-field>
      <input hidden type="file" #imgFileInput (change)="loadImage($event)"/>
  </div>
<div>
  <mat-form-field>
    <mat-select
                placeholder="Должность"
                required
                [(ngModel)]="model.position"
                name="position"
                #name="ngModel"
    >
      <mat-option *ngFor="let position of positions" [value]="position.value">
        {{position.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select
                placeholder="Подразделение"
                required
                [disabled]="(data.division) ? true : false"
                [(ngModel)]="model.division"
                name="division"
                #name="ngModel"
    >
      <mat-option *ngFor="let division of divisions" [value]="division.value">
        {{division.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <h4>Доступы:</h4>
  <mat-checkbox
    [(ngModel)]="model.isCreateDEposite"
    name="isCreateDEposite"
    #name="ngModel"
  >Создание депозита</mat-checkbox>
  <br/>
  <mat-checkbox
      [(ngModel)]="model.isCloseDEposite"
      name="isCloseDEposite"
      #name="ngModel"
  >Закрытие депозита</mat-checkbox>
  <br/>
  <mat-checkbox
    [(ngModel)]="model.isApprovalCredit"
    name="isApprovalCredit"
    #name="ngModel"
  >Одобрение кредита</mat-checkbox>
  <br/>
  <mat-checkbox
    [(ngModel)]="model.isApprovalOpenScore"
    name="isApprovalOpenScore"
    #name="ngModel"
  >Одобрение открытие счета</mat-checkbox>
</div>
<div class="button-row">
  <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.form.valid">Сохранить</button>
  <button mat-raised-button (click)="closeModal()">Отменить</button>
</div>
</form>
